.header-container {
  background-image: linear-gradient(135deg, #000000cb 20%, #051514e1 80%),
    url("../../image/background-icon-12.jpg");

  position: relative;
}
.header-text-box {
  padding-top: 50px;
  padding-bottom: 100px;
}
.header-container h1 {
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  margin: 0;
  outline: 0;
  padding: 0;
  margin-top: 0;
  margin-bottom: 0.5rem;
  color: rgb(255, 255, 255);
  font-weight: 800;
  font-size: 57px !important;
  line-height: 1;
}
.header-container h3 {
  text-align: left;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  margin: 0;
  outline: 0;
  padding: 0;
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
  font-size: 20px;
  color: rgb(0, 158, 102);
  letter-spacing: 6px;
}
.h1 {
  font-size: 35px !important;
}
.header-container p {
  line-height: 1.5;
  text-align: left;
  font-family: "Poppins", sans-serif;
  color: hsla(0, 0%, 100%, 0.7098039215686275);
  font-weight: 200;
  font-size: 18px;
  box-sizing: border-box;
  margin: 0;
  outline: 0;
  padding: 0;
  margin-top: 0;
  margin-bottom: 1rem;
  padding-bottom: 15px;
}
.header-container .typing {
  font-size: 50px !important;

  color: hsla(0, 0%, 100%, 0.7098039215686275);
}

/* .header-container img {
   box-shadow:
    0 0 0 5px #31313100,
    0 0 0 5px #009E66,
    0 0 0 30px #ffffff00,
    0 0 0 40px #46464600; 
    border: 10px solid  #353431;  
    margin-bottom: 50px !important;
} */

.primary-text-color {
  color: #009e66 !important;
}
.btn-success {
  box-sizing: border-box;
  outline: 0 !important;
  border-radius: 0 !important;
  margin: 0 !important;
  font-family: inherit !important;
  line-height: inherit !important;
  overflow: visible !important;
  text-transform: none !important;
  padding: 14px 35px !important;
  background-color: rgb(0, 158, 102) !important;
  color: rgb(255, 255, 255) !important;
  border: none !important;
  font-size: 15px !important;
  letter-spacing: 2px !important;
  margin-right: 25px !important;
  cursor: pointer !important;
}
.btn-outline-succcess{
  
}
.bg-color {
  background: #101010 !important;
}

.navbar-light .navbar-toggler {
  color: white !important;
}
.icon-box {
  width: 230px !important;
  margin: 25px 0px;
}
@media only screen and (max-width: 600px) {
  .header-container h1 {
    font-size: 54px !important;
    font-weight: 600 !important;
  }
  .header-container .h1 {
    font-size: 32px !important;
    font-weight: 500 !important;
    font-weight: 800;
    line-height: 1;
  }
  .header-text-box {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  /* .header-text{
    font-size: 18px !important;
  } */
}

@media only screen and (min-width: 768px) {
  /* For desktop: */
}
