.contact-container {
  font-family: "Poppins", sans-serif;
  background-image: linear-gradient(135deg, #000000ec 20%, #051514e7 80%),
    url("../../image/contact-form-bg.jpg");
  background-repeat: no-repeat;
  background-position: top center;
  position: relative;
  background-size: cover;
  padding: 50px 0px 50px 0px;
}
.contact-container h6 {
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  font-weight: 200 !important;
}
.contact-container h3:after {
  content: "";
  display: block;
  width: 100px;
  height: 4px;
  background: #009e66;
  margin: 0 auto;
  margin-top: 15px;
}
